In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as sk
import seaborn as sns
from sklearn import linear_model

In [ ]:
df_degrees = pd.read_csv('degrees-that-pay-back.csv')
df_degrees.head()
df_degrees_copy = df_degrees.copy()

In [ ]:
df_college_salaries = pd.read_csv('salaries-by-college-type.csv')
df_college_salaries.head()
df_college_salaries_copy = df_college_salaries.copy()

In [ ]:
df_region_salaries = pd.read_csv('salaries-by-region.csv')
df_region_salaries.head()
df_region_salaries_copy = df_region_salaries.copy()

In [ ]:
df_degrees.describe()

In [ ]:
df_degrees.columns

In [ ]:
#unique values from 'Undergraduate Major' column
df_degrees['Undergraduate Major'].unique()

In [ ]:
#sort the dataframe by starting median salary ascending
df_degrees.sort_values(by=['Starting Median Salary'], inplace=True)

In [ ]:
# convert 'Starting Median Salary' values from string to float
df_degrees['Starting Median Salary'] = df_degrees['Starting Median Salary'].str.replace('$','').str.replace(',','').astype(float)
# convert 'Starting Median Salary' values from float to integer
df_degrees['Starting Median Salary'] = df_degrees['Starting Median Salary'].astype(int)

In [ ]:
#show converted values
df_degrees['Starting Median Salary'].head()

In [ ]:
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import seaborn as sns

def format_x_axis_labels(x, pos):
    return '{:.0f}K'.format(x/1000)

# Sort the DataFrame by "Starting Median Salary" in ascending order
df_degrees_sorted = df_degrees.sort_values(by="Starting Median Salary")

# Create the scatterplot
sns.set_style("whitegrid")
fig, ax = plt.subplots(figsize=(20, 10))
sns.scatterplot(x="Starting Median Salary", y="Undergraduate Major", data=df_degrees_sorted, hue="Starting Median Salary", palette="viridis", ax=ax)

# Set the X axis label format to show values in overall thousands
ax.xaxis.set_major_formatter(ticker.FuncFormatter(format_x_axis_labels))

# Invert the y-axis to have lowest paying major at the bottom
ax.invert_yaxis()

# Show the plot
plt.show()

In [ ]:
#show unique values from the df_region_salaries dataframe, from region column
df_region_salaries["Region"].unique()

In [ ]:
# Filter the rows where 'Region' is 'California'
california_salaries = df_region_salaries[df_region_salaries['Region'] == 'California']

# Create a new DataFrame from the filtered results
df_california_salaries = california_salaries.copy()

df_california_salaries.head()

In [ ]:
# Filter the rows for different regions and create new DataFrames
western_salaries = df_region_salaries[df_region_salaries['Region'] == 'Western']
midwestern_salaries = df_region_salaries[df_region_salaries['Region'] == 'Midwestern']
southern_salaries = df_region_salaries[df_region_salaries['Region'] == 'Southern']
northeastern_salaries = df_region_salaries[df_region_salaries['Region'] == 'Northeastern']

# Create new DataFrames for each region
df_western_salaries = western_salaries.copy()
df_midwestern_salaries = midwestern_salaries.copy()
df_southern_salaries = southern_salaries.copy()
df_northeastern_salaries = northeastern_salaries.copy()

In [ ]:
# Count NaN rows in 'Starting Median Salary' column for each region DataFrame
null_count_western = df_western_salaries['Starting Median Salary'].isna().sum()
null_count_midwestern = df_midwestern_salaries['Starting Median Salary'].isna().sum()
null_count_southern = df_southern_salaries['Starting Median Salary'].isna().sum()
null_count_northeastern = df_northeastern_salaries['Starting Median Salary'].isna().sum()
null_count_california = df_california_salaries['Starting Median Salary'].isna().sum()

print("Number of NaN rows in 'Starting Median Salary' column for Western Region:", null_count_western)
print("Number of NaN rows in 'Starting Median Salary' column for Midwestern Region:", null_count_midwestern)
print("Number of NaN rows in 'Starting Median Salary' column for Southern Region:", null_count_southern)
print("Number of NaN rows in 'Starting Median Salary' column for Northeastern Region:", null_count_northeastern)
print("Number of NaN rows in 'Starting Median Salary' column for California:", null_count_california)

In [ ]:
# Data preprocessing steps
def preprocess_dataframe(df):
    df['Starting Median Salary'] = df['Starting Median Salary'].str.replace('$', '').str.replace(',', '').astype(float)
    df['Starting Median Salary'] = df['Starting Median Salary'].astype(int)
    return df

df_western_salaries = preprocess_dataframe(western_salaries.copy())
df_midwestern_salaries = preprocess_dataframe(midwestern_salaries.copy())
df_southern_salaries = preprocess_dataframe(southern_salaries.copy())
df_northeastern_salaries = preprocess_dataframe(northeastern_salaries.copy())

In [ ]:
# Data preprocessing steps
def preprocess_dataframe2(df):
    df['Mid-Career Median Salary'] = df['Mid-Career Median Salary'].str.replace('$', '').str.replace(',', '').astype(float)
    df['Mid-Career Median Salary'] = df['Mid-Career Median Salary'].astype(int)
    return df

df_western_salaries = preprocess_dataframe2(western_salaries.copy())
df_midwestern_salaries = preprocess_dataframe2(midwestern_salaries.copy())
df_southern_salaries = preprocess_dataframe2(southern_salaries.copy())
df_northeastern_salaries = preprocess_dataframe2(northeastern_salaries.copy())

In [ ]:
#df_region_salaries_copy to be changed, df_degrees_copy to be changed
df_region_salaries_copy['Mid-Career Median Salary'] = df_region_salaries_copy['Mid-Career Median Salary'].str.replace('$', '').str.replace(',', '').astype(float)
df_region_salaries_copy['Mid-Career Median Salary'] = df_region_salaries_copy['Mid-Career Median Salary'].astype(int)

df_degrees_copy['Mid-Career Median Salary'] = df_degrees_copy['Mid-Career Median Salary'].str.replace('$', '').str.replace(',', '').astype(float)
df_degrees_copy['Mid-Career Median Salary'] = df_degrees_copy['Mid-Career Median Salary'].astype(int)

df_region_salaries_cop['Starting Median Salary'] = df_region_salaries_copy['Starting Median Salary'].str.replace('$', '').str.replace(',', '').astype(float)
df_region_salaries_cop['Starting Median Salary'] = df_region_salaries_copy['Starting Median Salary'].astype(int)

df_degrees_copy['Starting Median Salary'] = df_degrees_copy['Starting Median Salary'].str.replace('$', '').str.replace(',', '').astype(float)
df_degrees_copy['Starting Median Salary'] = df_degrees_copy['Starting Median Salary'].astype(int)

In [ ]:
region_colors = {
    'Western': 'blue',
    'Midwestern': 'green',
    'Southern': 'red',
    'Northeastern': 'purple'
}

# Create the scatterplot
plt.figure(figsize=(10, 6))
for region, color in region_colors.items():
    region_data = df_region_salaries_copy[all_salaries['Region'] == region]
    plt.scatter(region_data.index, region_data['Starting Median Salary'], label=region, color=color)

plt.ylabel('Starting Median Salary ($)')
plt.title('Starting Median Salary by Region')
plt.legend()

# Customize y-axis ticks
min_salary = all_salaries['Starting Median Salary'].min()
max_salary = all_salaries['Starting Median Salary'].max()
plt.yticks(range(min_salary, max_salary + 1, 5000))

# Remove x-axis ticks and labels
plt.xticks([])

plt.grid(True)
plt.show()